.time-and-date {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content:space-evenly;
  padding: 4px;
  border-radius: 4px;
  background-color: #444;
}

.header__time-and-date {
  margin: 0 4px;
}